<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header class="header">
        <h1 class="title">Trivia</h1>
    </header>
    <section>
        <h2>Add New Trivia Deck</h2>
        <form>
            <label for="dname">Insert a Name</label>
            <input type="text" name="name" placeholder="Exam Prep" id="dname">
            <input type="text" name="description" placeholder="Enter a description">
            <input type="text" name="question1" placeholder="Mitochondira is the ___ of the cell">
        </form>
    </section>
</body>
</html>