<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/Images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/Images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/Images/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header class="header">
        <h1 class="title">Trivia</h1>
    </header>
    <main>
        <section>
            <h2>My Decks</h2>
            <div class="view">
                <div class="addNew">
                    <img src="../public/Images/Group 22.svg" class="icon">
                </div>
                <% data.forEach(function(deck){ %>
                    <a href="/trivia/1" class="card">
                        <div class="deck-name"><%= deck.name %></div>
                    </a>
                <% }) %>
            </div>
        </section>
    </main>
    <script src="../public/scripts/index.js" defer></script>
</body>
</html>