<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1 class="title">Trivia</h1>
    </header>
    <main>
        <section>
            <h2 class="card-title">Cloud Quiz</h2>
            <div class="trivia-card">
                <div class="sub-header">
                    <p>Multiple Choice</p>
                    <img src="../public/Images/right.svg" class="skip">
                </div>
                <p class="question"><%= question %></p>
                <form class="answers" action="./userAnswer">
                    <input type="button" class="answer-card" value="A device used to distribute web traffic" name="option1">
                    
                    <input type="button" class="answer-card" value="answer 2" name="option2">
                        
                    <input type="button" class="answer-card" value="answer 3" name="option3">
                        
                    <input type="button" class="answer-card" value="answer 4" name="option4">
                        
                </form>

            </div>
            
        </section>
    </main>
    
    <script src="../public/scripts/trivia.js" defer></script>
</body>
</html>